
.body{
    text-align: center;
    margin-top: auto;
    

}
.welcome{
  background-image: url(/images/h_img.jpg);
  background-position: center;
  background-size: contain;
  height: 350px;
  width: 900px;
  margin : auto;
  font-size: large;
  color: azure;
  
}
.services{
    background-image: url(/images/s_image.jpg);
    background-size: contain;
    height: 200px;
    width: 900px;
    color: azure;
    font-size: small;
    background-position: center;
    margin-left: 300px;
}
.columns{ 
    text-align: center;
    width: 400px;
    float: left;
    margin: 50px;

}
.design{
    margin-left: 400px;
    margin-right: 400px;
    width: 400px;
    float: left;
    margin: 50px;
    
}
.portfolio{
    margin: 20px;
}
.portfolioa{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfoliob{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfolioc{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfoliod{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfolioe{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfoliof{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfoliog{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfolioh{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.work{
    resize: 40px ;
    margin: auto;
    
}


