
.body{
    text-align: center;
    margin-top: auto;
    

}
.welcome{
  background-image: url(../images/h_img.jpg);
  background-position: center;
  background-size: contain;
  height: 350px;
  width: 900px;
 margin-left: 300px;
  font-size: large;
  color: azure;
  
}
.services{
    background-image: url(../images/s_image.jpg);
    background-size: contain;
    height: 200px;
    width: 900px;
    color: azure;
    font-size: small;
    background-position: center;
    margin-left: 300px;
}
.columns{ 
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 2%;
}

.columnb{
text-align: center;
width: 200px;
margin: 1px;
padding: 2%;
display:inline-flex;


}

.portfolio{
    margin: 20px;
}

.portfolioa{
    height: 150px;
    width: 150px;
    margin: 10px;
    
}
.portfoliob{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfolioc{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfoliod{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfolioe{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfoliof{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfoliog{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.portfolioh{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.work{
    resize: 40px ;
    margin: auto;
    
}
.contact{
        background-image: url(../images/c_image.jpg);
        text-align: center;
        background: size 500px;
        display: 500px;
        padding: 10%;
      }
      form #contact{
        background-color: rgba(0, 0, 0, 0);
      }
      
      input[type=text] {
        background:transparent;
        color: white;
      }
      textarea[type=text] {
        background:transparent;
        color: white;
      }
      
      .submit{
        text-align: center;
        display:inline-flex;
        background: transparent;
        position: center;
        padding-left: 25%;
        align-items: center;

      }


    

.transbox{
    border: azure;
    background-color: transparent;
background-color: transparent;
opacity: 1;
}



/* what we do for jquery */

.designashowing{
    display: none;
}
.designbshowing{
    display: none;
}
.designcshowing{
    display: none;
}

/* portfolio for jquery */
#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display: none;
    color: black;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.456);
    position: absolute;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    padding-top: 50%;
}
.col-md-3 img{
    width: 200px;
    margin: 20px;
  }
/* #portfolio1{
   display: none;
   color: black;
   width: 100%;
   height: 100%;
   background-color:rgba(255, 255, 255, 0.456);
   position:absolute;
   top: 20px;
   left: 35px;
   font-weight: bold;
   text-align: center;
   font-size: 20px;
   padding-top: 50%;
}
.portfolio2{
    display: none;
}
.portfolio3{
    display: none;
}
.portfolio4{
    display: none;
}
.portfolio5{
    display: none;
}
.portfolio6{
    display: none;
}
.portfolio7{
    display: none;
}
.portfolioh8{
    display: none;
} */

.row{
    display: inline-flex;
    text-align: center;
    /* border: 2px solid red; */
}
.rowb{
    display: inline-flex;
    

}
