
.body{
    text-align: center;
    

}
.welcome{
  background-image: url();
  background-position: center;
  margin: auto;
  font-size: medium;
  
}
.design{
    display: block;
    
}
.work{
    resize: 40px ;
    margin: auto;
    
}


